.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 80%;
    top: 0; /* Initial position, not moved up */
    transform: translateY(0); /* Initial position, not moved up */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .popup-content {
      width: 80%;
      top: 120px; /* Move the modal up by 50px */
      transform: translateY(-50%); 
      z-index: 100000;/* Vertically center the modal */
    }
  }
  
  .popup-content h3 {
    margin-bottom: 10px;
  }
  
  .popup-content img {
    width: 100%;
    max-height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .popup-content p {
    margin-bottom: 5px;
  }
  
  .popup-content button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  