
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,600;0,700;1,400&display=swap');

:root {
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #1212132a;
    --secondary-font-color: #c59d5f;
    --body-font-color: #696969;
    --main-color: #e2e2e2;
}

body {
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}
.app_container {
    display: flex;
}

.map_container{
    width: 100%;
    height: 95vh;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
     z-index: 4000;

}


.header_title{
    text-align: center;
    display: none;
}

.spinner img{
    width:300px;
    height: 300px;
}

.hotels_list{
    position: absolute;
    top: 40px;
    left:0;
    width: 300px;
    min-width: 300px;
    overflow: scroll;
    height: 100vh;
    z-index: 100;
    padding: 20px 8px;
    background-color: #fff;
    box-shadow: 8px 5px 5px 0px rgba(221, 220, 220, 0.75);
    -webkit-box-shadow: 8px 5px 5px 0px rgba(196, 196, 196, 0.75);
    -moz-box-shadow: 8px 5px 5px 0px rgba(237, 237, 237, 0.75);
}

.hotel_container{
    background-color: #fff;
    box-shadow: 8px 5px 5px 0px rgba(168, 167, 167, 0.75);
    -webkit-box-shadow: 8px 5px 5px 0px rgba(161, 161, 161, 0.75);
    -moz-box-shadow: 8px 5px 5px 0px rgba(194, 194, 194, 0.75);
}

.hotel_search{
    position: relative;
    padding: 20px 10px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  


.hotel_search input{
    padding:10px;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #686767;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ffffff;
}
.hotel_search input:focus{
    border: none;
    color: #007bff;
}

.go-back-home {
    position: absolute;
    bottom: 130px;
    right: 15px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.go-back-home:hover {
    background-color: #f1f1f1;
}
.search_hotel_location{
    padding: 20px;
}
.hotel-search input{
    padding: 10px;
    border-radius: 20px;
    border-radius: 1px solid #c6c6c6;
    margin: 0 15px ;
}


.header_content{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.inner_content{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.hotel_container img{
    width: 100px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}

.hotel_details{
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

/* show label */
.marker-label {
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 9px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-card {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 250px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 20000;
}

.popup-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.popup-card h3 {
    font-size: var(--secondary-font);
    color: var(--secondary-font-color);
    margin-bottom: 10px;
}

.popup-card button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.search_hotel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.search_hotel input{
    padding: 10px;
    width: 80%;
}

.marker-wrapper {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}



.hotel_container h6{
    color: gray;
    padding: 20px 0;
    text-align: center;
    font-style: 14px;
}


/* Media Queries */


.hotel_container {
    margin: 0 .6rem;
}


.hotels-container img {
    width: 250px;
    height: 150px;
    margin: .5rem;
    object-fit: cover;
    border-radius: 20px;
}

.hotel_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hotel_container span {
    display: flex;
}


.hotel_container span {
    color: var(--body-font-color);
    font-size: 13px;
}

.loader {
    margin: 50px auto;
}

.hotel_container h4 {
    margin: 1.2rem 0;
    color: var(--secondary-font-color);
    font-size: 12px;
}




@media screen and (max-width:768px) {
    .map_container{
        height: 90vh;
        margin: 10px;
        margin-bottom: 20px;
    }
    .hotel{
        width: 100%;
    }
    .header_content{
        display: flex;
        justify-content: space-around;
    }

    .hotels_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        min-height: 400px;
        box-shadow: none;
        position: relative;
        bottom: 0;
        margin: 8px auto;
    }
    .hotel_details{
       display: none;
    }
    .hotel-search{
        width: 60%;
        border-radius: 1px solid #c6c6c6;
    }

    .hotel-search input{
        border-radius: 20px;
        width: 80%;
        border-radius: 1px solid #c6c6c6;
    }
    
    .hotel_search{
        top: 100px;
        right: 100px;
        z-index: 999;
        padding: 20px 10px;
    }

    .hotel_content{
        display: flex;
        align-items: center;
    }

    .hotel_container{
        margin: 8px auto;
    }

 
    .hotels-container img {
        width: 90%;
        height: 180px;
        margin: .5rem;
        object-fit: cover;
        display: none;
        border-radius: 20px;
    }
    

    .hotel_content h4 {
      font-style: 14px;
      font-weight: 500;
      padding: 10px 0;
      margin: 8px;
    }

    .hotel_container img {
        width: 100%;
    }
    .go-back-home{
        bottom: 120px;
    }
    .spinner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .spinner img{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:375px) {
 .hotels_list {
    display: flex;
    overflow: scroll;
    height: 200px;
    width: 100%;
    background-color: #fff;
}

.header_content{
    display: flex;
    justify-content: space-between;
}

.hotel_details{
    display: none;
 }

 .hotel_container img {
     width: 105%;
     height: 200px;
     object-fit: cover;
 }
    .hotel_container img {
    width: 90%;
    }
    .go-back-home {
     bottom: 120px;
    }
  .hotel_title h4{
    font-size: 12px;
    font-weight: 100;
    }
    .location{
        display: none;
    }
}